  <h2>Review A Restroom</h2>


<form action="/review" method="post" id="review">
  <p>Choose an existing location</p>
  <select id="review[old_restroom]" name="review[old_restroom]">
    <option value=""></option>
    <%@restrooms.each do |restroom|%>
      <option value="<%=restroom.restaurant_name%>"><%=restroom.restaurant_name%></option>
    <%end%>
  </select>
  <p>Add A New Restroom</p>
  <label for="name">Name: <label><br>
  <input type="text" name="review[restroom_hash][restaurant_name]" id="name" value=""><br>
  <label for="location">Location: </label><br>
  <input type="text" name="review[restroom_hash][location]" id="location" value=""><br>
  <label for="body">Write Review Here:</label>
  <br/>
    <textarea name="review[body]" rows="4" cols="50" form="review" placeholder="Enter review here..."></textarea>
  <p>Rating:
  <select class="" name="review[stars]">
    <option value=""></option>
    <% for item in (0..4) %>
      <option value="<%=item+1%>"><%=item+1%></option>
    <% end %>
  </select>
  </p>
  <p><input type="submit" value="Create Review"></p>
</form>
