<div class="wrapper">
 <div id="logo">
   <h1>Poolite</h1>
 </div>
 <nav>
   <% if @logged %>
    <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% else %>
     <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% end %>
 </nav>
</div>


<form action="/new/review" method="post">
  <input type="text" name="review[body]" value="">
  <input type="hidden" name="review[user_id]" value="<%=@user.id%>">
  <input type="submit" value="Create Review">
</form>


<a href="/logout">Log out</a>
