<h1>Restrooms</h1>
<% if !@restrooms.blank? %>
  <% for item in @restrooms %>
    <div class="revs">
      <h2><a href="/restrooms/<%=item.id%>"><%=item.restaurant_name%></a> Rating: <%=item.rating%></h2>
        <% if !item.reviews.blank? %>
            <%review = item.reviews.sample%>
              <h3><%="#{review.stars} Stars - #{review.body}"%></h3>
        <% else %>
          No Reviews
        <% end %>
    </div>
  <% end %>
<% end %>
