<% if !@restrooms.blank? %>
  <% for item in @restrooms %>
    <div class="">
      <h2><a href="/restrooms/<%=item.id%>"><%=item.restaurant_name%></a></h2>
        <% if !item.reviews.blank? %>
          <ul>
            <% for item in item.reviews %>
              <li>
                <a href="/review/<%=item.id%>">
                  <div class="">
                    <h3><%="#{item.body} #{item.stars}"%></h3>
                  </div>
                </a>
              </li>
              <%end%>
          </ul>
          <% end %>
    </div>
  <% end %>
<% end %>

<% if @logged %>
  <a href="/logout">Log out</a>
<% end %>
