
<% if !@restrooms.blank? %>
  <h2>Featured Reviews</h2>
  <table>
    <tr>
      <th>Restroom</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
    <% for item in @restrooms.sample(4) %>
      <tr>
        <td><a href="/restrooms/<%=item.id%>"><%=item.restaurant_name%></a></td>
        <% if !item.reviews.empty? %>
            <td><%= item.reviews.sample.body%></td>
        <% else %>
            <td>No Review</td>
        <% end %>
        <td><%= item.rating%></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>No one has written a review yet. Login and be the first!</h2>
<% end %>
