<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color:rgb(255, 255, 255);
        }
        div.revs {
    background-color: orange;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
    </style>
  </head>
  <body>

    <div class="wrapper">
     <div id="logo">
       <h1>Poolite</h1>
     </div>
     <nav>
       <% if logged_in? %>
        <a href="/">Home</a> <a href="/user/<%= current_user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restrooms">Restrooms</a> <a href="/logout">Log out</a>
       <% else %>
         <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restrooms">Restrooms</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
       <% end %>
     </nav>
    </div>



    <center>
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
      <%= yield %>
    </center>
  </body>
</html>
