<div class="wrapper">
 <div id="logo">
   <h1>Poolite</h1>
 </div>
 <nav>
   <% if @logged %>
    <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% else %>
     <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% end %>
 </nav>
</div>



<h3>Log In</h3>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/login" method="POST">
  <p><input type="text" name="username" placeholder="Username:" required></p>
  <p><input type="password" name="password" placeholder="Password:" required></p>
  <p><input type="submit" value="Log In"></p>
</form>

<% if @logged %>
  <p><a href="/logout">Log out</a></p>
<% else %>
  <a href="/signup">Sign Up</a></p>
<% end %>
