<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p><input type="text" name="username" placeholder="Username:" value="<%= @user.username %>" required></p>
  <p><input type="email" name="email" placeholder="Email Address" value="<%= @user.email %>" required></p>
  <p><input type="password" name="password" placeholder="Password:" id="pw" required></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
