
<body>
  <h3>Sign Up</h3>
  <form action="/signup" method="POST">
    <p><input type="text" name="username" placeholder="Username:" required></p>
    <p><input type="email" name="email" placeholder="Email Address" required></p>
    <p><input type="password" name="password" placeholder="Password:" id="pw" required></p>
    <p><input type="submit" value="Sign Up"></p>
  </form>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="/public/jquery.js">
  </script>
</body>
